body {
    background: #B3FAFC;
    color: #393234;
}

.sofia-sans-main-text{
    font-family: "Sofia Sans", serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
  }
  

.playwrite-co-guides-regular {
    font-family: "Playwrite CO Guides", serif;
    font-weight: 511;
    font-style: normal;
  }
  
.playwrite-au-vic-guides-regular {
    font-family: "Playwrite AU VIC Guides", serif;
    font-weight: 400;
    font-style: normal;
  }
  

.eb-garamond-main-text {
    font-family: "EB Garamond", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
  
/* Container setup for side-by-side layout */
#scalar-container {
    display: flex;
    flex-direction: row; /* Arrange items horizontally */
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}
/* SVG square styling */
.scalar-square {
    stroke: #FF7700;
    stroke-width: 2;
    fill: #F2DAA1;
}
/* Scalar value text styling */
.scalar-value {
    font-size: 70%;
    text-anchor: middle;
    fill:#2E282A;
}
/* Buttons container */
.buttons-container {
    display: flex;
    flex-direction: column; /* Stack buttons vertically */
    margin-left: 20px; /* Space between SVG and buttons */
}
/* Remove margin from the last button */
.random-button:last-child {
    margin-bottom: 0;
}

.random-button {
    width: 75px;           /* Sets the width of the button */
    height: 25px;           /* Sets the height of the button */
    font-size: 8px;        /* Increases the font size for better readability */
    padding: 5px 5px;     /* Adjusts the padding inside the button */
    margin-bottom: 10px;    /* Maintains spacing between multiple buttons */
    border: none;           /* Removes the default border */
    border-radius: 8px;     /* Adds rounded corners */
    background-color: #0F8B8D; /* Changes the background color */
    color: white;           /* Sets the text color */
    cursor: pointer;        /* Changes the cursor on hover */
    transition: background-color 0.3s ease; /* Adds a transition effect */
}

/* Optional: Add hover effects for better interactivity */
.random-button:hover {
    background-color: #45a049;
}

#vector-container {
    display: flex;
    flex-direction: row; /* Arrange items horizontally */
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.vector-value {
    font-size: 12px;
    text-anchor: middle;
    dominant-baseline: middle;
}

.step-container {
    display: none;
    margin-top: 20px;
}

#step-1 {
    display: block; /* The first step is visible by default */
}

/* Style your buttons and other elements as desired */
.next-button {
    margin-top: 20px;
    padding: 10px 15px;
    cursor: pointer;
}